# Nginx 워커 프로세스의 수를 설정한다...
# 보통 CPU 개수랑 같이 하는거로 함
# 숫자 높이면 성능 좋아짐.
worker_processes 1; 

# 워커 프로세서가 동시에 처리할 수 있는 최대 처리 수
# 이거면 1개의 워커 프로세스에 1024개의 커넥션까지 처리 가능
events {
    worker_connections 1024;
}

# HTTP 서버 관련 설정
http {
    # 확장자 처리
    include       mime.types;
    # MIME 타입이 설정되지않은 타입에 대한 처리.
    
    default_type  application/octet-stream;

    # 파일 전송 속도 높일 수 있음.
    sendfile        on;

    # 
    keepalive_timeout  65;


    # 서버에 대한 설정
    server {
        
        # 서버는 80 포트를 통해 Nginx와 소통 가능
        listen 80; 
        # _는 와일드 카드라고 함
        # 서버 이름 지정
        server_name _;

        # 문서의 루트 디렉토리를 지정한 것

        root /usr/share/nginx/html;

        # 요청 location "/" url에 파일이 있는지 확인하고 없으면 index.html 반환하기
        location / {
            try_files $uri $uri/ /index.html;
        }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
            root /usr/share/nginx/html;
        }
    }
}